body.dark-mode {
    background-color: #232323;
    color: #fff;
}

/* header  */
body.dark-mode .header-top{
    background-color: #000000 !important;
}

body.dark-mode .header-logo img {
    filter: grayscale(1);
}

body.dark-mode .menuNews .menuNewsCont .nav-link{
color: white;
}