body.dark-mode {
    background-color: #232323;
    color: #fff;
}

/* header  */
body.dark-mode .header-top{
    background-color: #000000 !important;
}

body.dark-mode .header-logo img {
    filter: grayscale(1);
}

body.dark-mode .menuNews .menuNewsCont .nav-link{
color: white;
}

body.dark-mode .menuNews .nav{
        border-bottom: 2px solid#000000;

}

/* sidebar  */
body.dark-mode .sidebarWidget {
  background-color: transparent !important;
  border: 1px solid#000000;
      box-shadow: none !important;

}

body.dark-mode  .newsWithSidebar .widgetColum .sidebarWidget h2{
    background-color: #000000;

}

body.dark-mode  .poll__submit .poll-btn{
        background-color: #000000;

}

body.dark-mode .radio-item label:before{
        border: 2px solid #000000;

}

body.dark-mode .radio-item input[type=radio]:checked + label:after{
        background: #0a0b0c;

}

body.dark-mode .widgetSurveyContent p,body.dark-mode .newsWithSidebar .widgetColum .sidebarWidget .nav-link{
    color: white !important;
}




/* hero section  */
body.dark-mode .newsWithSidebar .newsCont .article__hero .article__body .article__title,body.dark-mode .newsWithSidebar .newsCont .article-list .card__art .article__title{
    color: white;
}


body.dark-mode .newsWithSidebar .newsCont .article-list .card__art p{
        color: #767676;

}

body.dark-mode .newsWithSidebar .newsCont .article-list .card__art{
        border-bottom: 1px solid#000000;

}

body.dark-mode .newsWithSidebar .newsCont .article-list .card__art .article-date:before{
        color: #3b3b3b;

}

body.dark-mode .newsWithSidebar .newsCont .article-list .card__art .cat__link,body.dark-mode .newsWithSidebar .newsCont .article-list .card__art .article-date{
        color: #6d6d6d!important;

}

body.dark-mode .newsWithSidebar .newsCont .article__hero .article__body p{
    color: white;
}
