
@font-face {
    font-family: 'sadan-toshiba';
    src:url('../web-fonts/Kalligraaf_Arabic_Regular.woff')format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
 
}



@font-face {
    font-family: 'tadamsa-normal';
    src:url('../web-fonts/Alhurra-Regular.ttf')format('ttf');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
 
}


@font-face {
    font-family: 'tadamsa-bold';
    src:url('../web-fonts/Alhurra-Bold.ttf')format('ttf');
    font-weight: 900;
    font-style: bold;
    font-display: swap;
 
}



